## 練習時間
假設我們資料中類別的數量並不均衡，在評估準確率時可能會有所偏頗，試著切分出 y_test 中，0 類別與 1 類別的數量是一樣的 (亦即 y_test 的類別是均衡的)

In [35]:
import numpy as np
from sklearn.model_selection import train_test_split, KFold
import pandas as pd
X = np.arange(1000).reshape(200, 5)
y = np.zeros(200)
y[:40] = 1

In [36]:
y

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [37]:
X = pd.DataFrame(X)
y = pd.DataFrame(y, columns = ['target'])
df = pd.concat([X, y], axis = 1)
df.head()

    0   1   2   3   4  target
0   0   1   2   3   4     1.0
1   5   6   7   8   9     1.0
2  10  11  12  13  14     1.0
3  15  16  17  18  19     1.0
4  20  21  22  23  24     1.0

可以看見 y 類別中，有 160 個 類別 0，40 個 類別 1 ，請試著使用 train_test_split 函數，切分出 y_test 中能各有 10 筆類別 0 與 10 筆類別 1 。(HINT: 參考函數中的 test_size，可針對不同類別各自作切分後再合併)

In [41]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(df[df['target'] == 0].iloc[:, 0:5], df['target'][df['target'] == 0], test_size=10, random_state=42)

In [44]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(df[df['target'] == 1].iloc[:, 0:5], df['target'][df['target'] == 1], test_size=10, random_state=42)

In [46]:
y_test = pd.concat([y_test1, y_test2], axis = 0)

In [47]:
y_test

145    0.0
148    0.0
181    0.0
95     0.0
134    0.0
69     0.0
141    0.0
91     0.0
140    0.0
182    0.0
19     1.0
16     1.0
15     1.0
26     1.0
4      1.0
12     1.0
37     1.0
27     1.0
39     1.0
6      1.0
Name: target, dtype: float64